@font-face{
    font-family: HanZi;
    src: url("HanZi.ttf");
}
body{
    background: url(back.png);
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100%;
    color: wheat;
    font-family: HanZi;
}
.container{
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
p{
    float: center;
    text-align: center;
    font-size: 12px;
}
span{
    width: 500px;
}
h1{
    text-align: center;
}
hr{
    float: center;
    width: 500px;
}
a{
    text-decoration: none;
}
a:link{
    color: indianred;
}
a:visited{
    color: indianred;
}
nav{
    text-align: center;
}
.mainBack{
    text-align: center;
}
.image{
    text-align: center;
}