.care-products__container {
  display: flex;
}

.main-aside {
  width: 240px;
  display: inline-block;
}

.main-aside h3 {
  margin-top: 40px;
  font-size: 24px;
}

.main-aside ul {
  display: flex;
  flex-flow: wrap;
  width: 170px;
  margin: 0;
}

.main-aside li {
  position: relative;
  padding-left: 40px;
  padding-bottom: 17px;
  font-size: 14px;
}

.main-aside li:last-child {
  padding-bottom: 0px;
}

.main-aside input + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  background-color: #f9f6f3;
  cursor: pointer;
}

.main-aside input[type="radio"] + label::before {
  border-radius: 50%;
}

.main-aside input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  background-image: url(img/cross.svg);
  cursor: pointer;
}

.main-aside input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  cursor: pointer;
}

.main-aside input:focus + label:before {
  border: 2px solid #3399cc;
  border-radius: 10%;
}

.main-aside input[type="radio"]:focus + label:before {
  border-radius: 50%;
}

.main-aside button {
  margin-top: 50px;
  border: none;
  font: inherit;
  font-size: 13px;
  text-transform: uppercase;
  min-width: 115px;
}

.product-list {
  margin-top: 35px;
  margin-left: 50px;
}

.product-list__container {
  display: flex;
  flex-flow: wrap;
}

.product-list__item {
  background-color: #ffffff;
  margin: 10px;
  font-size: 14px;
  width: 220px;
  box-shadow: 0px 0px 10px #cccccc;
}

.product-list__item-image {
  display: block;
}

.product-list__item-wrapper {
  padding: 17px;
}

.product-list__item-name {
  text-transform: none;
}

.product-list__item-price {
  display: inline-block;
  text-align: center;
  min-width: 110px;
  margin-top: 17px;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #e5e5e5;
}

.product-list__item a {
  min-width: 76px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.page-navigation {
  margin-left: 7px;
  margin-top: 32px;
}

.page-navigation ul {
  margin: 0;
  display: flex;
}

.page-navigation ul > li {
  margin: 3px;
}

.page-navigation ul > li a {
  min-width: 45px;
}