body {
  background-color: #f2f2f2;
  margin: 0;
  margin-right: 40px;
  margin-left: 40px;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  position: relative;
}

a {
  text-decoration: none;
  color: #000000;
}

ul, ol {
  list-style: none;
  padding: 0;
}

h2 {
  font-size: 21px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header,
.main-content,
.main-footer {
  background-color: #FFFFFF;
}

.navigation {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navigation a {
  font-size: 14px;
  font-weight: 700;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.navigation a.active {
  color: #766357;
}

.navigation a:hover,
.navigation a:focus {
  color: #81b3d2;
}

.navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.sedona-logo img {
  position: absolute;
  width: 138px;
  left: 50%;
  margin-left: -69px;
}

.main-footer {
  background-color: #ffffff;;
  width: 100%;
}

.main-footer__list {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.main-footer__list > li {
  width: 33.33%;
  text-align: center;
  font-size: 0;
}

.main-footer__list > li {
  text-align: center;
  font-size: 14px;
}

.main-footer__list > li:nth-child(1) {
  font-size: 21px;
  font-weight: 700;
}

.main-footer__socials {
  display: flex;
  justify-content: center;
}

.main-footer__socials > li > a {
  display: block;
  position: relative;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  margin: 3px;
}

.main-footer__socials > li > a > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-footer__socials > li > a:hover,
.main-footer__socials > li > a:focus {
  background-color: #669ec0;
}

.main-footer__socials > li > a:active {
  background-color: #5496bd;
}

.main-footer__socials > li > a:active > svg {
  opacity: 0.3;
}

.html-logo {
  vertical-align: middle;
  margin-left: 6px;
}

.html-logo > svg {
  display: inline-block;
  width: 115px;
  height: 45px;
  fill: #231f20;
}

.html-logo > svg:hover,
.html-logo > svg:focus {
  fill: #5496bd;
}

.html-logo > svg:active {
  fill: #bdbbbc;
}